<!DOCTYPE html>

<html>

    <head>
        <base href="/">
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/omen.jpg">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This Site Was Created by Labeeb Ahsan. It uses data from ... and ... .</p>
            <img class="portrait" src="/img/omen.jpg">
        </div>
        
        {{>footer}}
    </body>

</html>